.restaurant-update-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  
  .restaurant-update-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .restaurant-update-form {
    width: 400px;
  }
  
  .restaurant-update-form .ant-form-item-label {
    text-align: left;
  }
  
  .restaurant-update-form .ant-form-item-control {
    text-align: left;
  }
  
  .restaurant-update-form .ant-btn {
    width: 100%;
  }
  