html,
body,
#root {
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-layout-content {
  flex: 1 0 auto;
}

.footer {
  margin-top: auto;
}

.header {
  background-color: #333;
  color: #fff;
}

.footer {
  background-color: #001529;
  color: #fff;
  text-align: center;
}
